@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100%;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
:root{
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color : #110f10;
    --secon-bg-color:#292e33;
    --big-font:2.5rem;
    --norma-font:2rem;
    --neon-box-shadow:0 0 .5rem#12f7ff;
    --h2-font:3rem;

    --font-neon-text-shadow: 0 0 10px rgba(29, 237, 244, 0.9),
    0 0 20px rgba(14, 236, 244, 0.878),
    0 0 30px rgba(26, 241, 249, 0.921), 
    0 0 40px rgba(15, 238, 246, 0.936), 
    0 0 70px rgba(12, 239, 247, 0.918), 
    0 0 80px rgba(11, 235, 243, 0.951),
    0 0 100px rgba(8, 224, 232, 0.922),
    0 0 150px rgba(4, 221, 228, 0.893);
}
::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}
::-webkit-scroller-track{
    background: var(--secon-bg-color);
}

::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: 5rem;
}

body{
     font-family:"poppins",sans-serif;
     background-color: var(--bg-color);
     color: var(--text-color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;  
    align-items: center;   
    justify-content: space-between;   
    width: 100%;   
    padding: 20px 10%;
}
header.sticky{
    background:var(--bg-color);
    border-bottom: 1px solid var(--secon-bg-color);
    padding: 12px 10%;
}
.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    font-style:var(--bg-color);
}
span{
    color: var(--hover-color);
}
.navlist{

    display: flex;
    
 }  
 .navlist a{
 
        color: var(--text-color);
        font-weight: 500;
        padding: 10px 20px;
 }
 .navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18,247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6),
    0 0 30px rgba(18, 247, 255, 0.6), 
    0 0 40px rgba(18, 247, 255, 0.6), 
    0 0 70px rgba(18, 247, 255, 0.6), 
    0 0 80px rgba(18, 247, 255, 0.6),
    0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
}
.navlist a.active{
    color: var(--hover-color);
}
#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}
section{

    padding: 100px 10%;
    }
    .home{
        min-height: 100vh;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        grid-gap: 4em;
    }
    .home-content{
        max-width: 600px;
    }
    .home-content h1{
        font-size: var(--big-font);
        font-weight: 700;
    }
.change-text{
    font-size: 1.5rem;
    font-weight: 600;
}
.home-content p{
    font-size:16px;
    margin: 20px 0 40px;
}

.home-content p{
    color: #bdbdbd;
    line-height: 1.6;
}
.info-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 1rem 0 2rem;
}
.info-box h5{
    font-weight: 600;
    color: lavender;
    font-size: 1.5rem;
}
.info-box span{
    font-size: .9rem;
    color: #bdbdbd;
}


.home-image{
    position: relative;
}
.img-box{
    text-align: center;
}
.img-box img{
    width: 200%;
    max-width: 400px;
    height: auto;
    box-shadow: 1px 1px 20px rgb(4, 162, 253);
}
.home{
    height: 100vh;
    background: url('img47.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.social-icons{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 50px;
}

.social-icons a{
    display: inline-block;
    width: 40px;
    height: 80%;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.social-iconsa i{
    font-size: 1.5rem;
}
.social-icons a:hover{
    color: var(--bg-color);
}
.social-icons a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--hover-color);
    transition: .4s;
    z-index: -1;
}
.social-icons a:hover::before{
    width: 100%;
}
/****************************************about section***************************************************************/
 .about{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    background: black;
}
.about{
    height: 100vh;
    background: url('img37.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.about-content h2{
  
    font-weight: 40px;
    font-size: 40px;
    margin-bottom: 2rem;
    color: var(--hover-color);
}
.img-about{
    box-shadow: 3px 3px 20px rgb(27, 163, 242);
}
.btn{
    display: inline-block;
    padding: 7px;
    background: rgb(36, 179, 223);
    border-radius: 7px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 200;
    transition: all .45s ease;
    box-shadow: 3px 3px 20px rgb(27, 163, 242);
}

.tab-tittles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #0ef;
    font-size: 14px;
}

.tab-contents.active-tab{
    display: block;
}
.skills{
    height: 100vh;
    background: url('img37.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
       
    }

.skill-main{
       width: 100%;
       display: grid;
       grid-template-columns: repeat(2 1fr);
       grid-row-gap: 30px;
       grid-column-gap: 50px;
       grid-column-gap: 50px;

}
.main-text h2{
  
    font-weight: 50px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 2rem;
    color: var(--hover-color);
}
.skill-bar{
    margin-bottom: 2.3rem;
}
.skill-main h3{
    margin-bottom: 2rem;
    font-size: var(--norma-font);
    text-align: center;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);

}
.skill-bar .bar .html{
    width: 72%;
}
.skill-bar .bar .javascript{
    width: 60%;
}
.skill-bar .bar .CSS{
    width: 50;
}
.skill-bar .bar .python{
    width: 60%;
    animation: python 5s;
}
.skill-bar1{
    margin-bottom: 2.3rem;
}
.skill-right .skill-bar1 .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-right .skill-bar1 .bar{
    width: 100%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.skill-bar1 .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);

}
.skill-bar1 .bar .Creativity{
    width: 50%;
}
.skill-bar1 .bar .Communication{
    width: 60%;
}


.main-text2 h2{
  
    font-weight: 50px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 2rem;
    color: var(--hover-color);
}
.services{
    height: 100vh;
    background: url('img37.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.main-text1 h2{
  
    font-weight: 50px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 2rem;
    color: var(--hover-color);
}
.main-text1 span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
    background-color: transparent ;
}
.section-services .service-box{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align:center;
    background: var(--secon-bg-color);
    transition: background 0.5s, transform .4s;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgb(27, 163, 242);
}
.service-btn{
    width: auto;
    justify-content: center;
}
.service-box:hover{
    transform: translateY(-.5rem);
}
.service-box p{
    margin: .5rem 0 1.5rem 0;
    font-weight: 100;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;  
}
.service-icon{
    border: 2px solid var(--hover-color);
    padding: 1rem;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);
}

.service-box h3{
    margin-top: 5px;
    font-size: 1.5rem;
}
.contact{
    height: 100vh;
    background: url('img37.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: aqua;
    margin-right: 15px;
    font-size: 25px;
}
.contact-text h2{
    font-size: 50px;
    line-height: 1;
    text-align: var(--text-color);
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size:20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-image{
    position: relative;
}
.img2-box{
    text-align: center;
}
.img2-box img{
    width: 70%;
    max-width: 80%;
    height: auto;
    box-shadow: 1px 1px 20px rgb(27, 163, 242);
}

.btn.btn2{
    display: inline-block;
    background: #06d7ea;
}
.contact-right{
    width: 100%;
}
form input,form textarea{
    width: 80%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
#smsg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

@media(max-width:991px){
    header,
    header.sticky{
        padding: 15px 5%;
    }
    section{
        padding: 50px 5%;
    }
    .navlist a{
        padding: 8px 15px;
    }

    :root{
        --big-font: 2.2rem;
        --normal-font: 1.8rem;
        --neon-box-shadow: 0 0 .8rem #12f7ff;
        --h2-font:3rem;
    }
    .home-content{
        margin-top: 5rem;
    }
    .social-icons{
        margin-top: 2rem;
    }
}


@media(max-width:768px){
    #menu-icon{
        display: block;
        transition :all .4s ease;
    }
    .navlist{
        display: flex;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        
    }

}